                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                            <% @preferences.each do |f|%>
                                <li>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header no-border" style="text-align:center;">
                                        <div class="row">
                                            <% if f.enable == 1 %>
                                                <div class="col-md-4">
                                        				<% if f.order!=3 %>
                                        					<a href="./landing/index?op=1&pid=<%=f.id%>" class="up_arrow_box" data-remote="true">
                                        					</a>
                                        				<% end %>
	                                        	<% if f.order!=0 %>
	                                        		<a href="./landing/index?op=0&pid=<%=f.id%>" style="margin-left:10px" class="down_arrow_box" data-remote="true">
	                                        		</a>
	                                        	<% end %>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="display:inline"><%= f.name %></div>
                                                    </div>
                                            <div class="col-md-4">
                                			<%= link_to ' Disable?', index_preferences_path(:toggle => 1, :pid => f.id),:remote => true,:class=>"enable" %>        
                                            </div>
                                        	<% else %>
                                            <div class="col-md-4 col-md-offset-4">
                                        	   <div style="text-decoration:line-through;display:inline;color:#D0D0D0"><%= f.name %></div>
                                               </div>
                                            <div class="col-md-4">
                                        	<%= link_to ' Enable?', index_preferences_path(:toggle => 1, :pid => f.id),:remote => true,:class=>"enable" %>
                                            </div>
                                        	<% end %> <br>
                                            </div>
                                        </h3>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
